<%- include('partials/header'); %>

<body>
  <div class='cat-img'>
    <a href='/login'><img src="images/catimg.png" title='猫って可愛いよね' width="200px" height='240px'></a>
  </div>

  <div class='extra'>
    <h2>Posts</h2>
  </div>  

  <div class='btn'>
    <div>
      <a href='/new' class='write'><img src='/images/pen.png' width="13px" height="13px"> write</a>
    </div>
  </div>

  <div>
    <ul class="table-body">

        <% items.forEach((item) => { %>
          <li>
            <div>
              <a href="/edit/<%= item.id %>" id='item-data' class='title-data' style="font-size: 14pt;font-weight: bold;"><%= item.title %></a>
              <p id='item-date' style="font-size: 9pt"><%= item.date %></p>
              <hr>
            </div>
          </li>
        <% }) %>
      </ul>
  </div>  
  <%- include('partials/footer'); %>    
</body>
</html>
